---
import Layout from '../layouts/Layout.astro';

const weekDays = [
    'Lunes',
    'Martes',
    'Miércoles',
    'Jueves',
    'Viernes',
    'Sábado',
    'Domingo'
];

// Función para dar formato a la hora considerando si tiene decimal (.25, .5 y .75) o no. Además, añadir si es pm o am
function formatHour(hour) {
    const hourInt = Math.floor(hour);
    const hourDec = hour - hourInt;
    const hourStr = hourInt < 10 ? `0${hourInt}` : `${hourInt}`;
    const minStr = hourDec === 0 ? '00' : hourDec === 0.25 ? '15' : hourDec === 0.5 ? '30' : '45';
    const ampm = hourInt < 12 ? 'am' : 'pm';
    return `${hourStr}:${minStr} ${ampm}`;
}

/* function formatHour(hour) {
    return hour < 10 ? `0${hour}:00` : `${hour}:00`;
} */

// Función para dar formato a la fecha en formato dd-mm-yyyy considerando si es necesario el 0 delante
function formatDate(day, month, year) {
    return `${day < 10 ? `0${day}` : day}-${month < 10 ? `0${month}` : month}-${year}`;
}

const payments = {
    service_code : 'S00001',
    registers    : [
        {
            num_payment    : 1,
            payment_date   : '01-01-2022',
            amount         : 500,
            account_type   : 'C', // Consultora, Persona Natural
            payment_status : 'PE',
        },
        {
            num_payment    : 2,
            payment_date   : '01-02-2022',
            amount         : 500,
            account_type   : 'C', // Consultora, Persona Natural
            payment_status : 'PE',
        },
        {
            num_payment    : 3,
            payment_date   : '01-03-2022',
            amount         : 500,
            account_type   : 'C', // Consultora, Persona Natural
            payment_status : 'PE',
        },
        {
            num_payment    : 4,
            payment_date   : '01-04-2022',
            amount         : 500,
            account_type   : 'C', // Consultora, Persona Natural
            payment_status : 'PE',
        },
        {
            num_payment    : 5,
            payment_date   : '01-05-2022',
            amount         : 500,
            account_type   : 'C', // Consultora, Persona Natural
            payment_status : 'PE',
        },
    ]    
};
---

<Layout title="Consultora 143 - Donde aprender tiene un significado diferente.">
    <main class="h-screen">
        <div class="p-4 md:ml-64 bg-gray-100 dark:bg-gray-900 h-full overflow-y-auto">
            <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">

                <h3 class="mb-4 text-xl font-semibold dark:text-white">
                    Cronograma de pagos [{payments.service_code}]
                </h3>

                <div class="flex flex-col pt-4">
                    <div class="overflow-x-auto">
                        <div class="inline-block min-w-full align-middle">
                            <div class="overflow-hidden shadow">
                                <table
                                    class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600"
                                >
                                    <thead class="bg-gray-100 dark:bg-gray-700">
                                        <tr>
                                            {
                                                [
                                                    'Cuota',
                                                    'Fecha de pago',
                                                    'Monto',
                                                    'Tipo de cuenta',
                                                    'Estado de pago',
                                                    'Acciones'
                                                ].map((th) => (
                                                    <th
                                                        scope="col"
                                                        class="p-4 text-xs font-medium text-left text-gray-500 dark:text-gray-400"
                                                    >
                                                        {th}
                                                    </th>
                                                ))
                                            }
                                        </tr>
                                    </thead>

                                    <tbody
                                        class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
                                    >
                                        {
                                            payments.registers.map((payment) => (
                                                <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                                    <!-- Cuota -->
                                                    <td class="px-4 py-2 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                        <data value="num_payment">{payment.num_payment}</data>
                                                    </td>
                                                    <!-- Fecha de pago -->
                                                    <td class="px-4 py-2 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                        <data value="payment_date">{payment.payment_date}</data>
                                                    </td>
                                                    <!-- Monto -->
                                                    <td class="px-4 py-2 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                        <data value="amount">S/ {payment.amount}</data>
                                                    </td>
                                                    <!-- Tipo de cuenta -->
                                                    <td class="px-4 py-2 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                        <data value="account_type">{payment.account_type === 'C' ? 'Consultora' : 'Persona natural' }</data>
                                                    </td>
                                                    <!-- Estado de pago -->
                                                    <td class="px-4 py-2 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                        <data value="payment_status">{payment.payment_status === 'PE' ? 'Pendiente' : 'Pagado'}</data>
                                                    </td>
                                                    <!-- Acciones -->
                                                    <td class="px-4 py-2 space-x-2 text-gray-900 whitespace-nowrap dark:text-white">
                                                        <a
                                                            href="#"
                                                            class="inline-flex items-center pl-1 py-2 text-center text-gray-900 rounded-lg dark:text-white"
                                                        >
                                                            <svg
                                                                class="w-4 h-4"
                                                                fill="currentColor"
                                                                viewBox="0 0 20 20"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                            >
                                                                <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                                                                <path
                                                                    fill-rule="evenodd"
                                                                    d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                                                    clip-rule="evenodd"
                                                                />
                                                            </svg>
                                                        </a>
                                                        <button
                                                            type="button"
                                                            id="deleteDisponibility"
                                                            class="inline-flex items-center pr-4 py-2 text-center text-gray-900 rounded-lg dark:text-white"
                                                        >
                                                            <svg
                                                                class="w-4 h-4"
                                                                fill="currentColor"
                                                                viewBox="0 0 20 20"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                            >
                                                                <path
                                                                    fill-rule="evenodd"
                                                                    d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                                    clip-rule="evenodd"
                                                                />
                                                            </svg>
                                                        </button>
                                                    </td>
                                                </tr>
                                            ))
                                        }
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-10 gap-4 pt-4">
                    <button
                        class="col-span-10 sm:col-span-5 md:col-span-2 text-white bg-[#146eab] hover:bg-[#146eab] font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-[#146eab] dark:hover:bg-[#146eab]"
                        type="submit">Añadir pago</button
                    >
                    <button
                        class="col-span-10 sm:col-span-5 md:col-span-2 text-white bg-[#146eab] hover:bg-[#146eab] font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-[#146eab] dark:hover:bg-[#146eab]"
                        type="submit">Generar imagen</button
                    >
                    <button
                        class="col-span-10 sm:col-span-5 md:col-span-2 text-white bg-[#146eab] hover:bg-[#146eab] font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-[#146eab] dark:hover:bg-[#146eab]"
                        type="submit">Deshacer cronograma</button
                    >
                </div>

            </div>
        </div>
    </main>
</Layout>